<div class="home_base">
  <div class="title_navi">
    どんな情報をお探しですか？
  </div>
  <div class="section">
    <div class="title_line">活動のまとめをみる</div>
    <div class="cells_columns">
      <a href="/summary">
        <div class="cell cell_box cell_2x2">
          <div class="icon_bgi"><i class="fas fa-desktop"></i></div>
          <div class="sub_title"><i class="fas fa-desktop"></i> 概要</div>
        </div>
      </a>
      <div class="cell cell_grid_box cell_3x1_box">
        <a href="/achieve_summary">
          <div class="cell inline" style="background-color:#73879c;">
            <div class="icon_bgi"><i class="fas fa-list" style="color:#fff"></i></div>
            <div class="sub_title"><i class="fas fa-list"></i> 成績リスト</div>
          </div>
        </a>
        <a href="/remarkable_points">
          <div class="cell inline" style="background-color:#73879c;">
            <div class="icon_bgi"><i class="fas fa-lightbulb-on" style="color:#fff"></i></div>
            <div class="sub_title"><i class="fas fa-lightbulb-on"></i> 重要指標</div>
          </div>
        </a>
        <a href="/achieve_analytics?bt=2">
          <div class="cell" style="background-color:#73879c;">
            <div class="icon_bgi"><i class="fas fa-folders" style="color:#fff"></i></div>
            <div class="sub_title"><i class="fas fa-folders"></i> 施術概要</div>
          </div>
        </a>
      </div>
      <div class="cell cell_grid_box cell_2x1_box">
        <a href="/sales_forecast?s_type=0">
          <div class="cell inline">
            <div class="icon_bgi"><i class="fas fa-forward"></i></div>
            <div class="sub_title"><i class="fas fa-forward"></i> 売上予測</div>
          </div>
        </a>
        <a href="/custom_field" class="desktop_elm">
          <div class="cell">
            <div class="icon_bgi"><i class="fas fa-cubes"></i></div>
            <div class="sub_title"><i class="fas fa-cubes"></i> カスタム</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="title_line">深く分析する</div>
    <div class="cells_columns">
      <div class="cell cell_grid_box cell_3x1_box">
        <a href="/achieve_analytics">
          <div class="cell" style="background-color:rgba(18,83,164,1);">
            <div class="icon_bgi"><i class="fas fa-globe" style="color:#fff"></i></div>
            <div class="sub_title"><i class="fas fa-globe"></i> 管轄院</div>
          </div>
        </a>
        <a href="/achieve_analytics?st=1">
          <div class="cell" style="background-color:rgba(242,100,100,1);">
            <div class="icon_bgi"><i class="fas fa-clinic-medical" style="color:#fff"></i></div>
            <div class="sub_title"><i class="fas fa-clinic-medical"></i> 院</div>
          </div>
        </a>
        <a href="/achieve_analytics?st=2">
          <div class="cell" style="background-color:rgba(50,210,200,1);">
            <div class="icon_bgi"><i class="fas fa-user-tie" style="color:#fff"></i></div>
            <div class="sub_title"><i class="fas fa-user-tie"></i> 担当者</div>
          </div>
        </a>
      </div>
      <div class="cell cell_grid_box cell_3x05_box">
        <a href="/achieve_analytics?bt=1">
          <div class="cell" style="background-color:#73879c;">
            <div class="icon_bgi"><i class="fas fa-globe" style="color:#fff"></i></div>
            <div class="sub_title"><i class="fad fa-globe"></i> 内訳</div>
          </div>
        </a>
        <a href="/achieve_analytics?st=1&bt=1">
          <div class="cell" style="background-color:#73879c;">
            <div class="icon_bgi"><i class="fas fa-clinic-medical" style="color:#fff"></i></div>
            <div class="sub_title"><i class="fad fa-clinic-medical"></i> 内訳</div>
          </div>
        </a>
        <a href="/achieve_analytics?st=2&bt=1">
          <div class="cell" style="background-color:#73879c;">
            <div class="icon_bgi"><i class="fas fa-user-tie" style="color:#fff"></i></div>
            <div class="sub_title"><i class="fad fa-user-tie"></i> 内訳</div>
          </div>
        </a>
      </div>
      <div class="cell cell_grid_box cell_2x05_box">
        <a href="/achieve_analytics?st=0&bt=3&mt=4">
          <div class="cell">
            <div class="icon_bgi"><i class="fad fa-file-alt" style="color:rgba(203,89,37,1);"></i></div>
            <div class="sub_title"><i class="fad fa-file-alt"></i> メニュー</div>
          </div>
        </a>
        <a href="/achieve_analytics?st=0&bt=3&mt=3">
          <div class="cell">
            <div class="icon_bgi"><div style="color:rgba(203,89,37,1);">Key</div></div>
            <div class="sub_title"><i class="fab fa-amilia"></i> キーワード</div>
          </div>
        </a>
      </div>
      <div class="cell cell_grid_box cell_1x05_box">
        <a href="/random_stome">
          <div class="cell" style="background-color:purple;">
            <div class="icon_bgi"><i class="fad fa-random" style="color:#fff"></i></div>
            <div class="sub_title"><i class="fad fa-random"></i> ランダムクエリ</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="title_line">顧客の傾向をみる</div>
    <div class="cells_columns">
      <a href="/customer_analytics">
        <div class="cell cell_box cell_2x2">
          <div class="icon_bgi"><i class="fas fa-braille"></i></div>
          <div class="sub_title"><i class="fad fa-braille"></i> 顧客グラフ分析</div>
        </div>
      </a>
      <a href="/achieve_analytics?st=0&bt=5">
        <div class="cell cell_box cell_2x2">
          <div class="icon_bgi"><i class="fas fa-sync-alt"></i></div>
          <div class="sub_title"><i class="fas fa-sync-alt"></i> 継続者分析</div>
        </div>
      </a>
      <div class="cell cell_grid_box cell_2x1_box">
        <a href="/achieve_analytics?st=0&bt=6">
          <div class="cell" style="background-color:orange;">
            <div class="icon_bgi"><i class="fas fa-exclamation-triangle" style="color:#fff"></i></div>
            <div class="sub_title"><i class="fas fa-exclamation-triangle"></i> 離脱分析</div>
          </div>
        </a>
        <a href="/customer_search" class="desktop_elm">
          <div class="cell">
            <div class="icon_bgi"><i class="fas fa-search"></i></div>
            <div class="sub_title"><i class="fas fa-search"></i> アプローチ</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="title_line">システム環境設定</div>
    <div class="cells_columns">
      <div class="cell cell_grid_box cell_2x1_box desktop_elm">
        <a href="/mission" target="_blank">
          <div class="cell">
            <div class="icon_bgi"><i class="fas fa-flag"></i></div>
            <div class="sub_title"><i class="fas fa-flag"></i> 目標</div>
          </div>
        </a>
        <a href="/keyword" target="_blank">
          <div class="cell">
            <div class="icon_bgi"><i class="fas fa-sitemap"></i></div>
            <div class="sub_title"><i class="fas fa-sitemap"></i> キーワード</div>
          </div>
        </a>
      </div>
      <div class="cell cell_grid_box cell_2x2_box">
        <!--
        <a href="/calendar" target="_blank">
          <div class="cell">
            <div class="icon_bgi"><i class="fas fa-calendar-alt"></i></div>
            <div class="sub_title"><i class="fas fa-calendar-alt"></i> 営業日</div>
          </div>
        </a>
        <br>
      -->
        <%= link_to('/logout_action',{method:"POST"}) do %>
          <div class="cell inline">
            <div class="icon_bgi"><i class="fas fa-power-off" style="color:red;"></i></div>
            <div class="sub_title"><i class="fas fa-power-off" style="color:red;"></i> ログアウト</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<style media="screen">
  .left_bar_base {
    display:none;
  }
</style>
