<div class="page_base summary_base _no_top">
  <div class="content_base" id="content_base">
    <div class="loading_base inline">
      <i class="fad fa-spinner-third fa-spin"></i>
    </div>
  </div>
</div>

<input type="hidden" id="page_js_status">

<table style="display:none;" class="table_to_export" id="download_table_base"></table>

<%= javascript_include_tag 'summary.js', 'data-turbolinks-track': 'reload' %>
