<div class="error_base">
  <div class="e_b">
    <div class="ap_s">
      - 400 Bad request -
    </div>
    <div class="ap_b">
      <i class="fad fa-tired"></i>
      Routing Error
    </div>
    <p class="sub_title">
      申し訳ありません、指定されたページは存在しません。
      <br>
      ページを戻るか
      <span>
        <a href="/">ここをクリック</a>
      </span>
      してください。
    </p>
  </div>
</div>

<style>
  body {
    overflow:hidden;
  }
  .header_base {
    display:none;
  }
  .left_bar_base {
    display:none;
  }

</style>
